<div class="content">
  <h2 class="heading">Patterns</h2>
  <p class="paragraph">In the course of a typical simulation in the Game of Life, a variety of distinct patterns emerge which are essential to the unfolding dynamics of the environment. These patterns can be broadly categorized based on their behaviors into static patterns, oscillating patterns, and moving patterns.</p>
  <ul>
    <li>
      <h3 class="heading">Static Patterns</h3>
      <p class="paragraph">These are formations that remain stationary, retaining their structure over successive generations without undergoing any change. They represent a stable state in the simulation.</p>
    </li>
    <li>
      <h3 class="heading">Oscillating Patterns</h3>
      <p class="paragraph">Oscillating patterns are characterized by a repetitive cycle of transformations, wherein they fluctuate between two or more states in a regular pattern. These oscillations create a dynamic yet predictable series of formations as time progresses.</p>
    </li>
    <li>
      <h3 class="heading">Moving Patterns</h3>
      <p class="paragraph">Also known as "spaceships," these patterns exhibit locomotion across the grid, altering their position over sequential generations. They traverse the environment, potentially interacting with other entities on the grid.</p>
    </li>
    <li>
      <h3 class="heading">Generative Patterns</h3>
      <p class="paragraph"> In addition to the above categories, there are generative patterns that spawn other formations, leading to rich and complex evolving dynamics. They may give birth to a range of other patterns, encompassing static, oscillating, or moving types, thereby introducing new elements into the simulation.</p>
    </li>
  </ul>
  <p class="paragraph">The upcoming sections provide an illustrative guide to the most frequently encountered patterns in the Game of Life, offering insights into their characteristics and the roles they play in the larger simulation ecology."</p>

  <hr class="divider">
  <h2 class="heading">Static Patterns</h2>

  <div class="pattern-row">
    <div class="pattern">
      <h3>Block</h3>
      <img class="pattern-image" src="assets/rep.gif" alt="Block">
    </div>
    <div class="pattern">
      <h3>Beehive</h3>
      <img class="pattern-image" src="assets/rep.gif" alt="Beehive">
    </div>
    <div class="pattern">
      <h3>Loaf</h3>
      <img class="pattern-image" src="assets/rep.gif" alt="Loaf">
    </div>
  </div>

  <hr class="divider">
  <h2 class="heading">Oscillating Patterns</h2>

  <hr class="divider">
  <h2 class="heading">Moving Patterns</h2>

  <hr class="divider">
  <h2 class="heading">Generative Patterns</h2>

</div>
