.canvas-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.generation-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1rem;
  z-index: 2;
}
