.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  align-items: center;
  flex-wrap: wrap;
}

.control-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.control-group button, .control-group mat-icon-button {
  width: 3.4vw;
  height: 3.4vw;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff22;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-to-checkpoint-button {
  width: calc(6.8vw + 10px) !important;
  flex-direction: column;
}

.return-to-checkpoint-button .icon-container,
.return-to-checkpoint-button .text-container {
  display: flex;
}

.return-to-checkpoint-button .text-container {
  font-size: 14px;
  color: white;
}

.control-group button:hover, .control-group mat-icon-button:hover {
  background-color: #ffffff44;
}

.highlighted {
  background-color: rgba(63, 81, 181, 0.3) !important;
}

.input-control-group {
  width: 100%;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px ;
}

.input-control-group input[type=range] {
  -webkit-appearance: none;
  width: 95%;
  border-radius: 5px;
  background: #ffffff22;
  outline: none;
  box-sizing: border-box;
  height: 8px;
  margin-right: 5%;
}

.input-control-group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

.input-control-group input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.input-control-group input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(63, 81, 181, 0.7) 0%, rgba(63, 81, 181, 0.7) var(--fps-percentage, 0%), #666 var(--fps-percentage, 0%), #666 100%);
  border-radius: 5px;
}

.input-control-group input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(63, 81, 181, 0.7) 0%, rgba(63, 81, 181, 0.7) var(--fps-percentage, 0%), #666 var(--fps-percentage, 0%), #666 100%);
  border-radius: 5px;
}

.checkbox-control-group {
  margin-right: 5%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.checkbox-control-group mat-checkbox {
  margin: 0;
}

.checkbox-control-group label {
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  margin: 10px 15px 10px 0;
}
