.content {
  display: block;
  padding: 16px;
  max-width: 60vw;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color-dark);
}

.heading {
  margin-bottom: 16px;
  color: var(--text-color);
}

.paragraph {
  margin-bottom: 16px;
  color: var(--text-color);
  line-height: 1.6;
}

.divider {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, var(--primary-color), var(--divider-color), var(--primary-color));
  margin: 16px 0;
  width: 100%;
}

.rule {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
  background-color: var(--background-color-darker);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.rule h3 {
  flex: 1;
  margin: 0;
  color: var(--text-color);
}

.rule-image-left, .rule-image-right {
  max-width: 20%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

.rule-image-right {
  order: -1;
}

.text-align-right {
  text-align: right;
}
