.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text-color);
  align-items: flex-start;
  flex-wrap: wrap;
}

.control-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.control-group button, .control-group mat-icon-button {
  width: 55px;
  height: 55px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--background-color-darker);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-to-checkpoint-button {
  width: calc(2*55px + 10px) !important;
  flex-direction: column;
}

.return-to-checkpoint-button .icon-container,
.return-to-checkpoint-button .text-container {
  display: flex;
}

.return-to-checkpoint-button .text-container {
  font-size: 14px;
  color: var(--text-color);
}

.control-group button:hover, .control-group mat-icon-button:hover {
  background-color: var(--divider-color);
}

.highlighted {
  background-color: rgba(63, 81, 181, 0.3) !important;
}

.input-control-group {
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.input-control-group input[type=range] {
  -webkit-appearance: none;
  width: 98%;
  border-radius: 5px;
  background: var(--background-color-dark);
  outline: none;
  box-sizing: border-box;
  height: 8px;
}

.input-control-group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

.input-control-group input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}

.input-control-group input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(63, 81, 181, 0.7) 0%, rgba(63, 81, 181, 0.7) var(--fps-percentage, 0%), #666 var(--fps-percentage, 0%), #666 100%);
  border-radius: 5px;
}

.input-control-group input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(63, 81, 181, 0.7) 0%, rgba(63, 81, 181, 0.7) var(--fps-percentage, 0%), #666 var(--fps-percentage, 0%), #666 100%);
  border-radius: 5px;
}

.checkbox-control-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
  margin-top: 5px;
}

.custom-checkbox {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  margin-left: 15px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--background-color-dark);
  border-radius: 4px;
  transform: translateY(-55%);
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--divider-color);
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--text-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.divider {
  height: 2px;
  background-image: linear-gradient(to right, var(--primary-color), var(--divider-color));
  width: 100%;
}

.text-container {
  width: 50px;
  word-break: break-all;
  overflow-wrap: break-word;
}

mat-icon {
  font-size: 26px;
}
