:root {
  --primary-color: #3f51b5;
  --accent-color: #e91e63;
  --background-color-dark: #3b3b3b;
  --background-color-darker: #2f2f2f;
  --text-color: #ffffff;
  --divider-color: #838383;
  --shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.2);
  --shadow-darker: 0 4px 6px rgba(0, 0, 0, 0.5);
  --light-gray: lightgray;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  user-select: none;
  height: 100%;
}

html { height: 100%; }

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--primary-color);
  --mat-tab-header-disabled-ripple-color: rgba(0, 0, 0, 0.38);
  --mat-tab-header-pagination-icon-color: #ffffff;

  --mat-tab-header-inactive-label-text-color: grey;
  --mat-tab-header-active-label-text-color: #ffffff;
  --mat-tab-header-active-ripple-color: var(--primary-color);
  --mat-tab-header-inactive-ripple-color: grey;
  --mat-tab-header-inactive-focus-label-text-color: grey;
  --mat-tab-header-inactive-hover-label-text-color: grey;
  --mat-tab-header-active-focus-label-text-color: var(--text-color);
  --mat-tab-header-active-hover-label-text-color: var(--primary-color);
  --mat-tab-header-active-focus-indicator-color: var(--primary-color);
  --mat-tab-header-active-hover-indicator-color: var(--primary-color);
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
}
