<div class="content">
  <h2 class="main-heading">Encyclopedia</h2>
  <p class="paragraph">
    In the course of a typical simulation in the Game of Life, a variety of distinct patterns emerge which are essential to the unfolding dynamics of the environment.
    These patterns can be broadly categorized based on their behaviors into static patterns, oscillating patterns, and moving patterns.
    The following sections provide an illustrative guide to the most common patterns that emerge in the Game of Life.
  </p>

  <hr class="divider">
  <mat-tab-group>
    <mat-tab *ngFor="let category of categories" label="{{ category.title }}" class="mat-tab-label">

      <h2 class="heading">{{ category.title }}</h2>
      <p class="paragraph">{{ category.description }}</p>
      <div class="pattern-container">
        <div class="pattern" *ngFor="let pattern of category.patterns">
          <div class="header">
            <h3>{{ pattern.title }}</h3>
            <button (click)="copyToClipboard(pattern.rle)" title="Copy"><mat-icon>content_copy</mat-icon></button>
          </div>
          <p class="paragraph">{{ pattern.description }}</p>
          <img class="pattern-image" [src]="pattern.img" [alt]="pattern.title">
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
