<div class="context-menu">
  <div class="info">
    <span class="info-element">Coordinates: (5480|2720)</span>
    <span class="info-element">State: Alive</span>
  </div>
  <div class="divider"></div>
  <button class="button" (click)="pasteRle()">Paste</button>
  <div class="divider"></div>
  <button class="button" (click)="insertRle()">Insert Pattern</button>
  <input class="input" type="text" required placeholder="b2ob$o2bo$b2o!" title="RLE encoded pattern">
  <div class="divider"></div>
  <button class="button" (click)="selectArea()">Select Area</button>
  <div class="divider"></div>
  <button class="button" (click)="onBrushSelect()">Brush Tool</button>
</div>
